body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #fffdd0;
  }
  
  .container {
    margin: 20px auto;
    max-width: 800px;
  }
  
  .settings label {
    display: block;
    margin: 10px 0 5px;
  }
  
  .settings input, .settings select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .progress {
    margin-top: 20px;
    font-size: 18px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    color: black;
    background-color: rgb(239, 239, 1);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button.hidden {
    display: none;
  }
 
      